@model PAR_INTRANET.Models.Clases.Empleado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Alta de Empleado</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="caja_agregar">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="tabla_agregar">
        <tr>
            <td>@Html.LabelFor(model => model.Legajo, htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "input_tabla" } })
               
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input_tabla" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td> @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "input_tabla" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>  @Html.LabelFor(model => model.CodVen, htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.EditorFor(model => model.CodVen, new { htmlAttributes = new { @class = "input_tabla" } })
                @Html.ValidationMessageFor(model => model.CodVen, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>  @Html.LabelFor(model => model.CodSuc, "CodSuc", htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.DropDownList("CodSuc", null, htmlAttributes: new { @class = "input_tabla" })
                @Html.ValidationMessageFor(model => model.CodSuc, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.FuncionP, "FuncionP", htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.DropDownList("FuncionP", null, htmlAttributes: new { @class = "input_tabla" })
                @Html.ValidationMessageFor(model => model.FuncionP, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td> @Html.LabelFor(model => model.FuncionS, "FuncionS", htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.DropDownList("FuncionS", null, htmlAttributes: new { @class = "input_tabla" })
                @Html.ValidationMessageFor(model => model.FuncionS, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td> @Html.LabelFor(model => model.Inactivo, htmlAttributes: new { @class = "lbl_tabla" })</td>
            <td>
                @Html.EditorFor(model => model.Inactivo)
            </td>
        </tr>
    </table>
    <div class="botones_inf">
        <div class="btn_izq">
            <input type="submit" value="Agregar" class="btn btn-primary" />
        </div>
        <div class="btn_der">
            <a href='@Url.Action("Index", "Empleado")'>
                <img src="~/Content/img/volver.png" title="Borrar" width="130" height="35" />
            </a>
        </div>
    </div>
</div>
}

