@model PAR_INTRANET.Models.Clases.Tablas.EstadoSucursal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstadoSucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TXUltimaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXUltimaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXUltimaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXUltimaConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXUltimaActualizacionCentral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXUltimaActualizacionCentral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXUltimaConsultaCentral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXUltimaConsultaCentral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXEstadoCentral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXEstadoCentral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBBAUltimaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBBAUltimaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBBAUltimaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBBAUltimaConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBBAError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBBAError)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodSuc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
