@model PAR_INTRANET.Models.Clases.Comision

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionComi.DesFuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionComi.DesFuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecVigDesComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecVigDesComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecVigHasComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecVigHasComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodNivArt1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodNivArt1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodNivArt2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodNivArt2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeleRefArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeleRefArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtIncComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtIncComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtExcComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtExcComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendeComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendeComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestoComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpRestoComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpRestoComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorRestoComi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorRestoComi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inactivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdComi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
