@model IEnumerable<PAR_INTRANET.Models.Clases.Comision>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/sweetalert2.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
@if (Session["Codusr"] == null)
{
    <script type="text/javascript">
        let timerInterval
        swal({
            type: 'error',
            title: 'Sesión Expirada',
            html: 'Serás redirigido en <strong></strong> milisegundos.',
            allowOutsideClick: false,
            allowEscapeKey: false,
            heightAuto: false,
            timer: 8000,
            onOpen: () => {
                swal.showLoading()
                timerInterval = setInterval(() => {
                    swal.getContent().querySelector('strong')
                        .textContent = swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {
                clearInterval(timerInterval);
                redireccion();
            }
        }).then((result) => {
            if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.timer
            ) {
                console.log('I was closed by the timer')
            }
        })

        function redireccion() {
            window.location.href = "/Login/logueo";
        }

    </script>
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comisiones</h2>

<table id="tabla" class="cell-border display compact" cellspacing="0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodNivArt1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodNivArt2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecVigDesComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecVigHasComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtIncComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtExcComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendeComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestoComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpRestoComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorRestoComi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inactivo)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.DesEleRefArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1.DesNivArt1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2.DesNivArt2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecVigDesComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecVigHasComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtIncComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtExcComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpRestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorRestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionComi.DesFuncion)
            </td>
            <td>
                @if (item.Inactivo == false)
                {
                    <P class="text-activo">ACTIVO</P>
                }
                else
                {
                    <p class="text-inactivo">INACTIVO</p>
                }
                <!--@Html.DisplayFor(modelItem => item.Inactivo)-->
            </td>
            <td>
                <a href='@Url.Action("Details", "Comisiones" ,new { id = item.IdComi})'>
                    <img src="~/Content/img/detalle1.png" title="Ver" width="20" height="20" />
                </a>
            </td>
            <td>
                <a href='@Url.Action("Edit", "Comisiones" ,new {id = item.IdComi})'>
                    <img src="~/Content/img/editar.png" title="Editar" width="20" height="20" />
                </a>
            </td>
            <td>
                <a href='@Url.Action("Delete", "Comisiones" ,new {id = item.IdComi})'>
                    <img src="~/Content/img/Baja.png" title="Borrar" width="20" height="20" />
                </a>
            </td>
        </tr>
    }

</table>
