@model IEnumerable<PAR_INTRANET.Models.Clases.Comision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="tablaComi" class="cell-border display compact" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecVigDesComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecVigHasComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodNivArt2Comi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodNivArt1Comi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtIncComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtExcComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendeComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestoComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpRestoComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorRestoComi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFuncion)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecVigDesComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecVigHasComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodNivArt1Comi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodNivArt2Comi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtIncComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtExcComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendeComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpRestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorRestoComi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFuncion)
            </td>

        </tr>
        }
    </tbody>
</table>
